jsonschema==4.23.0
PyYAML==6.0.2
datamodel-code-generator==0.26.2
json-schema-for-humans==0.48
typer==0.12.5
Jinja2==3.1.4
netaddr==0.10.1
ansible==6.7.0
pytest==7.4.4
pytest-html
types-PyYAML
requests
rich==12.6.0