jsonschema==4.6.1
PyYAML==6.0
datamodel-code-generator==0.13.0
json-schema-for-humans==1.0.2
typer==0.4.2
Jinja2==3.1.2
netaddr==1.3.0
ansible==10.5.0
pytest==8.3.3
pytest-html
types-PyYAML
requests
rich==13.9.3