jsonschema==4.26.0
PyYAML==6.0.3
datamodel-code-generator==0.53.0
json-schema-for-humans==0.48
typer==0.21.1
Jinja2==3.1.6
netaddr==0.10.1
ansible==6.7.0
pytest==7.4.4
pytest-html
types-PyYAML
requests
rich==12.6.0